Source: trend
Section: utils
Priority: extra
Maintainer: Yuri D'Elia <wavexx@thregr.org>
Build-Depends: debhelper (>= 7.0.50~), freeglut3-dev
Standards-Version: 3.8.3
Homepage: http://www.thregr.org/~wavexx/software/trend/
Vcs-Git: git://src.thregr.org/trend

Package: trend
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a general-purpose, efficient trend graph
 trend is a general-purpose, efficient trend graph for "live" data. Data
 is read in ASCII form from a file or continuously from a FIFO and
 displayed in real-time into a multi-pass trend (much like a CRT
 oscilloscope). trend can be used as a rapid analysis tool for
 progressive or time-based data series together with trivial scripting.
