Source: trend
Section: utils
Priority: optional
Maintainer: Yuri D'Elia <wavexx@yuv.info>
Build-Depends: debhelper, freeglut-dev, libgl-dev
Standards-Version: 3.6.1

Package: trend
Architecture: any
Depends: ${shlibs:Depends}
Description: a general-purpose, efficient trend graph for "live" data
 trend is a general-purpose, efficient trend graph for "live" data. Data is
 read in ASCII format from a file or continuously from a FIFO, and is played
 in real-time into a multipass trend (much like a CRT oscilloscope). trend
 can be used as a rapid analysis tool for progressive or time-based data
 series together with trivial scripting.
