#!/usr/bin/make -f
# -*- makefile -*-

# Configuration flags
CXXFLAGS += -Wall -g

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CXXFLAGS += -O0
else
	CXXFLAGS += -O3
endif


# Rules
%:
	dh -Dsrc $@

override_dh_auto_clean:
	$(MAKE) -Csrc clean

override_dh_installchangelogs:
	dh_installchangelogs NEWS
