#!/usr/bin/make -f
# -*- makefile -*-

# Configuration flags
CXXFLAGS += -Wall -g

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CXXFLAGS += -O0
else
	CXXFLAGS += -O3
endif
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS += -j$(NUMJOBS)
endif


# Rules
%:
	dh -Dsrc $@

override_dh_auto_clean:
	$(MAKE) -Csrc clean

override_dh_installchangelogs:
	dh_installchangelogs NEWS
